{% extends "base_generic.html" %}

{% block content %}
    <br>
    <div class="container py-3 h-0">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-5 col-lg-6 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <h2>Recuperar contraseña</h2>
                                <br>
                                <form action="" method="post">{% csrf_token %}
                                    {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                                    <p>Email: {{ form.email }}</p>
                                    <be></be>
                                    <input type="submit" class="btn btn-success" value="Recuperar">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}