{% extends "base_generic.html" %}

{% block content %}
<br>
<table class="table">
  <thead>
    <tr>
      <th>
        <h1>Lista de autores</h1>
      </th>
      <th>
        {% if user.is_staff %}
        <div class="d-grid gap-2">
          <a href="{% url 'author-create' %}" class="btn btn-primary">Agregar Autor</a>
        </div>
        {% endif %}
      </th>
    </tr>
  </thead>

  {% if author_list %}
  <br>
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th>Autor</th>
        <th>Fecha nacimiento</th>
        <th>Fecha muerte</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for author in author_list %}
      <tr>
      <tr>
        <td>{{ author }}</td>
        <td>{{author.date_of_birth}}</td>
        <td>
          {% if author.date_of_death %}
          {{author.date_of_death}}
          {% endif %}
        </td>
        <td>
          {% if user.is_authenticated %}
            <a href="{{ author.get_absolute_url }}" class="btn btn-primary">Ver</a>
            {% if user.is_staff %}
              <a href="{% url 'author-update' author.id %}" class="btn btn-info">Editar</a>
              <a href="{% url 'author-delete' author.id %}" class="btn btn-danger">Eliminar</a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <p>No hay libros en la libreria.</p>
  {% endif %}

  {% endblock %}